body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: #833ab4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.heart {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
}

.is_heart_animating {
    animation: heart-burst .8s steps(28) 1;
}

.is_heart_animated{
    background-position: right;
}

@keyframes heart-burst {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}